.selected-option{
    background-color: brown;
}
.btn-container button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #FFDE59;
}
.btn-container button:hover{
    background-color: #FFEB99;
}